{% extends 'base.html' %}
{% load static %}


{%block icerik%}



  {{request.user}}
{% for post in posts %}
<div style="margin:0 auto;width: 1000px;background-color:#FFFFFF;margin-top:100px;height:170px;" >
    <div style="float:left">
        <img height="170" width="120" src="{{ post.resim.url }}" >
    </div>
  <small class="glyphicon glyphicon-time pull-right">{{post.created_date}}</small>
  <h3 style="margin-top: 30px;" align="center"><a style="color:black;" href="{% url 'post_details' post.id %}"> {{post.title|upper}}</a></h3>
  <span><b>{{ post.icerik|safe|truncatewords:30 }}<a href="{% url 'post_details' post.id %}"> devamını okumak için tıklayınız</a></b></span><br>
  Katagori: {{post.kategori.all|join:','}}
<span style="margin-top: 50px;margin-right: 20px;"  class="pull-right glyphicon glyphicon-user"><b>yazar: </b><a href="{%url 'userprofile' post.user.username%}">{{post.user.username}}</a></span></p>
</div>
{% endfor %}
<div style="margin-left:700px">
{% if posts.has_other_pages %}
  <ul  class="pagination">
    {% if posts.has_previous %}
      <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
      <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
</div>

{% endblock %}

